#questionaireContainer .scfSectionLegend
{
    border: none !important;
    margin: 0 0 15px 20px !important;
    padding: 0 !important;
}

#questionaireContainer .scfSingleLineTextBorder, #questionaireContainer .scfEmailBorder, #questionaireContainer .scfRadioButtonListGeneralPanel, #questionaireContainer .scfMultipleLineTextBorder
{
    margin: 0 0 0 50px !important;
} 

#questionaireContainer .scfSectionBorderAsFieldSet
{
    border: none !important;
}

#questionaireContainer .scfSingleLineGeneralPanel, #questionaireContainer .scfMultipleLineGeneralPanel, #questionaireContainer .scfEmailGeneralPanel
{
    float: none !important;
}

#questionaireContainer .scfRadioButtonListLabel
{
    display: none !important;
}

#questionaireContainer .scfSubmitButtonBorder
{
    height: 125px !important;
    width: 960px !important;
    background-color: #F7F7F7 !important;
    margin-left: 45px !important; 
}

#questionaireContainer .scfSubmitButton
{
    margin: 40px 0 0 40px;
    color: transparent;
    background-image: url("/images/QuestionaireButton.png");
    border: none;
    height: 46px;
    width: 235px;
}

#questionaireContainer .scfSingleLineTextBox, #questionaireContainer .scfEmailTextBox
{
    display: block;
    width: 325px !important;
    height: 40px !important;
}

#questionaireContainer .scfSingleLineTextLabel, #questionaireContainer .scfEmailLabel, #questionaireContainer .scfMultipleLineTextLabel
{
    float: none !important;
}

#questionaireContainer .scfMultipleLineTextBox
{
    display: block;
    width: 750px !important;
}

.scfForm
{
    max-width: 960px !important;
}